<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travels Dashboard</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CodingDojo Exam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {%if user != None %}
            <li class="nav-item">   
              <span class="nav-link" href="#">Hola {{user.first_name}}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>    
          {%endif%} 
        </ul>
      </div>
    </div>
  </nav><br>
  
  <div class="container mt-5">

    {% if messages %}
      <ul class="messages">    
        {% for message in messages %}
          <li {% if message.tags %} class="bg-{{ message.tags }} p-2"{% endif %}>{{ message }}</li>    
        {% endfor %}
      </ul>
    {% endif %}

    <h1>Your Trip Schedules</h1>
    <table class= "table table-border">
      <thead class="table-dark">
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
        </tr>
      </thead>
      <tbody>
        {% for travel in my_travels%}
        <tr>
          <td><a href="{% url 'show_travel' travel.id %}">{{ travel.destination }}</a></td>
          <td>{{ travel.start_date }}</td>
          <td>{{ travel.end_date }}</td>
          <td>{{ travel.desc }}</td>
        {%endfor%}
        </tr>
      </tbody>
    </table>

    <h1>Other User's Travel Plans</h1>
    <table class= "table table-border">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Do you Want To Join?</th>
        </tr>
      </thead>
      <tbody>
        {% for travel in travels%}
        <tr>
          <td>{{ travel.owner_user.first_name }} {{ travel.owner_user.last_name }} </td>
          <td><a href="{% url 'show_travel' travel.id %}">{{ travel.destination }}</a></td>
          <td>{{ travel.start_date }}</td>
          <td>{{ travel.end_date }}</td>
          <td><a href="{% url 'add_user' travel.id %}">Join</a></td>
          <td>  </td>
        {%endfor%}
        </tr>
      </tbody>
    </table>

    <div class="text-end">
      <a href="{% url 'form_create' %}" class="btn btn-dark">Add Travel Plan</a>
    </div>
    

  </div>  
  
</body>
</html>