<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CodingDojo Exam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {%if user != None %}
            <li class="nav-item">   
              <span class="nav-link" href="#">Hola {{user.first_name}}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
      
          {%endif%} 
        </ul>
      </div>
    </div>
  </nav><br>
  
  <div class="container mt-5">

    {% if messages %}
      <ul class="messages">    
        {% for message in messages %}
          <li {% if message.tags %} class="bg-{{ message.tags }} p-2"{% endif %}>{{ message }}</li>    
        {% endfor %}
      </ul>
    {% endif %}

    <div class="text-end">
      <a href="/travels"> Home </a>
    </div>

    <h1>{{ travel.destination }}</h1>
    <h5>Panned By: {{ travel.owner_user.first_name }} {{ travel.owner_user.last_name }}</h5>
    <h5>Description: {{ travel.desc }}</h5>
    <h5>Travel Date From: {{ travel.start_date }}</h5>
    <h5>Travel Date To: {{ travel.end_date }}</h5>
    
    <h1>Other user's joining the trip:</h1>
    {% for user in travel.users.all %}
      <h5> {{ user.first_name }} {{ user.last_name }}</h5>
    {%endfor%}

  </div>  
  
</body>
</html>